div(ng-include='"components/navbar/navbar.html"')

header.banner.hiring-hero-unit
  .container
    h1 Hiring
    //- Maybe Contact
    p.lead Freelance Fullstack iOS and Web Developer

div(ng-include='"components/footer/footer.html"')
