div(ng-include='"components/navbar/navbar.html"')

header.banner.projects-hero-unit
  .container
    .col-md-5  
      svg#project-svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='450px', height='322px', viewbox='0 0 450 322', enable-background='new 0 0 450 322', xml:space='preserve')
      
        path.svg-stroke#project-outline1(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M72.301,4.921h305.004c0,0,3.037,1.519,3.037,3.038\
        s0,305.004,0,305.004s0.096,3.037-3.037,3.037c-3.134,0-305.004,0-305.004,0s-3.038-0.616-3.038-3.037c0-2.422,0-305.004,0-305.004\
        S69.835,4.921,72.301,4.921z')
        path.svg-stroke#project-outline2(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M82.238,15.246l284.521,0.293\
        c0,0,3.265-0.822,3.265,2.125c0,2.947-0.081,47.067-0.081,47.067s-0.038,2.293-3.351,2.293c-3.312,0-284.551-0.217-284.551-0.217\
        s-2.39-0.217-2.39-2.717c0-2.5-0.061-46.156-0.061-46.156S79.522,15.246,82.238,15.246z')
        path.svg-stroke#project-outline3(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M81.417,77.542h21.871c0,0,2.235-0.448,2.235,3.645\
        c0,4.093,0.105,222.488,0.105,222.488s0.397,2.095-3.395,2.095s-19.926-0.108-19.926-0.108s-3.75-0.714-3.75-3.601\
        s0-221.758,0-221.758S79.065,77.542,81.417,77.542z')
        path.svg-stroke#project-outline4(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M119.085,77.809l247.41-0.199\
        c0,0,3.456-0.509,3.456,2.611c0,3.12,0.097,222.637,0.097,222.637s0.948,2.167-1.965,2.167c-2.912,0-249.593,0.601-249.593,0.601\
        s-2.364,1.188-2.364-2.423c0-3.609,0-222.337,0-222.337S115.555,77.809,119.085,77.809z')
      
        path.svg-stroke#project-circle1(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M105.111,31.104\
        c7.438,0,11.025,6.723,11.025,10.535c0,6.572-7.046,8.85-10.473,8.85c-7.267,0-10.217-6.196-10.217-9.722\
        C95.446,34.409,101.694,31.104,105.111,31.104z')
        path.svg-stroke#project-circle2(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M105.045,20.148\
        c15.936,0,21.236,13.938,21.236,21.491c0,13.608-13.862,20.475-21.236,20.475c-13.341,0-20.493-13.232-20.493-20.475\
        C84.552,27.806,97.621,20.148,105.045,20.148z')
        path.svg-stroke#project-circle3(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M151.301,31.814\
        c7.438,0,11.025,6.722,11.025,10.535c0,6.572-7.046,8.849-10.473,8.849c-7.267,0-10.218-6.196-10.218-9.721\
        C141.636,35.119,147.884,31.814,151.301,31.814z')
        path.svg-stroke#project-circle4(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M151.234,20.859\
        c15.936,0,21.236,13.937,21.236,21.491c0,13.608-13.862,20.474-21.236,20.474c-13.341,0-20.493-13.232-20.493-20.474\
        C130.741,28.516,143.811,20.859,151.234,20.859z')
        path.svg-stroke#project-circle5(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M198.201,31.814\
        c7.438,0,11.025,6.722,11.025,10.535c0,6.572-7.046,8.849-10.473,8.849c-7.267,0-10.218-6.196-10.218-9.721\
        C188.536,35.119,194.784,31.814,198.201,31.814z')
        path.svg-stroke#project-circle6(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M198.135,20.859\
        c15.936,0,21.236,13.937,21.236,21.491c0,13.608-13.862,20.474-21.236,20.474c-13.341,0-20.493-13.232-20.493-20.474\
        C177.642,28.516,190.711,20.859,198.135,20.859z')
      
        path.svg-stroke#project-side1(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M88.122,92.991l7.896-0.074\
        c0,0,4.371-0.125,4.371,5.296c0,5.42-4.396,5.274-4.396,5.274l-7.207,0.014c0,0-4.399-1.192-4.399-5.623\
        C84.387,93.448,88.122,92.991,88.122,92.991z')
        path.svg-stroke#project-side2(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M88.122,114.309l7.896-0.074\
        c0,0,4.371-0.124,4.371,5.296c0,5.42-4.396,5.274-4.396,5.274l-7.207,0.014c0,0-4.399-1.192-4.399-5.623\
        C84.387,114.766,88.122,114.309,88.122,114.309z')
        path.svg-stroke#project-side3(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M88.122,134.917l7.896-0.074\
        c0,0,4.371-0.125,4.371,5.296c0,5.42-4.396,5.275-4.396,5.275l-7.207,0.014c0,0-4.399-1.192-4.399-5.623\
        C84.387,135.374,88.122,134.917,88.122,134.917z')
        path.svg-stroke#project-side4(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M88.08,154.383l7.896-0.073\
        c0,0,4.37-0.125,4.37,5.296c0,5.421-4.395,5.275-4.395,5.275l-7.207,0.014c0,0-4.399-1.192-4.399-5.624\
        C84.345,154.841,88.08,154.383,88.08,154.383z')
        path.svg-stroke#project-side5(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M88.08,175.702l7.896-0.074\
        c0,0,4.37-0.124,4.37,5.296c0,5.421-4.395,5.275-4.395,5.275l-7.207,0.014c0,0-4.399-1.192-4.399-5.623\
        C84.345,176.159,88.08,175.702,88.08,175.702z')
        path.svg-stroke#project-side6(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M88.08,196.31l7.896-0.074\
        c0,0,4.37-0.124,4.37,5.295c0,5.422-4.395,5.275-4.395,5.275l-7.207,0.014c0,0-4.399-1.192-4.399-5.623\
        C84.345,196.767,88.08,196.31,88.08,196.31z')
        path.svg-stroke#project-side7(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M87.833,216.84l7.896-0.074\
        c0,0,4.37-0.125,4.37,5.295c0,5.421-4.395,5.276-4.395,5.276l-7.207,0.014c0,0-4.399-1.192-4.399-5.623\
        C84.098,217.297,87.833,216.84,87.833,216.84z')
        path.svg-stroke#project-side8(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M87.833,238.159l7.896-0.074\
        c0,0,4.37-0.124,4.37,5.296c0,5.421-4.395,5.274-4.395,5.274l-7.207,0.015c0,0-4.399-1.192-4.399-5.623\
        C84.098,238.615,87.833,238.159,87.833,238.159z')
        path.svg-stroke#project-side9(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M87.833,258.766l7.896-0.073\
        c0,0,4.37-0.123,4.37,5.296c0,5.421-4.395,5.275-4.395,5.275l-7.207,0.014c0,0-4.399-1.192-4.399-5.623\
        S87.833,258.766,87.833,258.766z')
        path.svg-stroke#project-side10(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M88.357,279.764l7.896-0.074\
        c0,0,4.371-0.124,4.371,5.295c0,5.422-4.395,5.276-4.395,5.276l-7.207,0.014c0,0-4.399-1.191-4.399-5.622\
        C84.623,280.221,88.357,279.764,88.357,279.764z')
      
        path.svg-stroke#project-main1(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M134.876,176.256l7.896-0.074\
        c0,0,4.371-0.124,4.371,5.296c0,5.421-4.395,5.275-4.395,5.275l-7.207,0.014c0,0-4.4-1.192-4.4-5.623\
        C131.141,176.713,134.876,176.256,134.876,176.256z')
        path.svg-stroke#project-main2(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M134.876,113.899l7.896-0.074\
        c0,0,4.371-0.124,4.371,5.296c0,5.421-4.395,5.275-4.395,5.275l-7.207,0.014c0,0-4.4-1.193-4.4-5.624\
        S134.876,113.899,134.876,113.899z')
        path.svg-stroke#project-main3(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M134.876,238.321l7.896-0.074\
        c0,0,4.371-0.124,4.371,5.296c0,5.421-4.395,5.275-4.395,5.275l-7.207,0.014c0,0-4.4-1.192-4.4-5.623\
        S134.876,238.321,134.876,238.321z')
        path.svg-stroke#project-main4(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M290.407,258.946l7.896-0.074\
        c0,0,4.37-0.124,4.37,5.296c0,5.421-4.394,5.275-4.394,5.275l-7.207,0.014c0,0-4.399-1.192-4.399-5.623\
        S290.407,258.946,290.407,258.946z')
        path.svg-stroke#project-main5(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M295.893,93.387l12.684-0.066\
        c0,0,4.37-0.125,4.37,5.295c0,5.421-4.395,5.275-4.395,5.275l-11.994,0.007c0,0-4.399-1.192-4.399-5.623\
        C292.158,93.845,295.893,93.387,295.893,93.387z')
        path.svg-stroke#project-main6(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M202.296,134.535l12.683-0.067\
        c0,0,4.37-0.124,4.37,5.295c0,5.421-4.394,5.276-4.394,5.276l-11.994,0.007c0,0-4.4-1.192-4.4-5.623\
        C198.561,134.993,202.296,134.535,202.296,134.535z')
        path.svg-stroke#project-main7(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M202.144,196.551l12.683-0.068\
        c0,0,4.371-0.123,4.371,5.297c0,5.421-4.395,5.275-4.395,5.275l-11.994,0.007c0,0-4.4-1.192-4.4-5.624\
        C198.408,197.008,202.144,196.551,202.144,196.551z')
        path.svg-stroke#project-main8(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M202.144,259.041l12.683-0.066\
        c0,0,4.371-0.126,4.371,5.295s-4.395,5.275-4.395,5.275l-11.994,0.008c0,0-4.4-1.192-4.4-5.623\
        C198.408,259.498,202.144,259.041,202.144,259.041z')
        path.svg-stroke#project-main9(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M253.986,238.48l23.9-0.287\
        c0,0,4.371-0.125,4.371,5.296s-4.394,5.275-4.394,5.275l-23.214,0.228c0,0-4.399-1.192-4.399-5.624\
        C250.251,238.938,253.986,238.48,253.986,238.48z')
        path.svg-stroke#project-main10(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M254.19,175.775l43.904-0.288\
        c0,0,4.37-0.124,4.37,5.296c0,5.421-4.395,5.275-4.395,5.275l-43.216,0.228c0,0-4.399-1.192-4.399-5.624\
        C250.455,176.233,254.19,175.775,254.19,175.775z')
        path.svg-stroke#project-main11(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M295.398,217.672l39.246-0.287\
        c0,0,4.371-0.125,4.371,5.295c0,5.421-4.396,5.275-4.396,5.275l-38.557,0.229c0,0-4.4-1.192-4.4-5.624\
        C291.663,218.13,295.398,217.672,295.398,217.672z')
        path.svg-stroke#project-main12(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M223.384,93.097l54.01-0.287\
        c0,0,4.37-0.124,4.37,5.295c0,5.421-4.394,5.275-4.394,5.275l-53.322,0.229c0,0-4.399-1.192-4.399-5.624\
        C219.65,93.555,223.384,93.097,223.384,93.097z')
        path.svg-stroke#project-main13(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M223.009,155.368l54.386-0.287\
        c0,0,4.37-0.124,4.37,5.296c0,5.422-4.394,5.275-4.394,5.275l-53.697,0.228c0,0-4.399-1.192-4.399-5.624\
        C219.274,155.827,223.009,155.368,223.009,155.368z')
        path.svg-stroke#project-main14(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M134.648,134.678l49.084-0.287\
        c0,0,4.37-0.125,4.37,5.295c0,5.421-4.394,5.276-4.394,5.276l-48.396,0.228c0,0-4.4-1.192-4.4-5.624\
        C130.913,135.136,134.648,134.678,134.648,134.678z')
        path.svg-stroke#project-main15(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M134.648,196.821l49.813-0.287\
        c0,0,4.371-0.124,4.371,5.296c0,5.421-4.395,5.275-4.395,5.275l-49.125,0.228c0,0-4.4-1.192-4.4-5.624\
        C130.913,197.279,134.648,196.821,134.648,196.821z')
        path.svg-stroke#project-main16(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M222.253,217.672l55.141-0.287\
        c0,0,4.37-0.125,4.37,5.295c0,5.421-4.394,5.275-4.394,5.275l-54.453,0.229c0,0-4.4-1.192-4.4-5.624\
        C218.518,218.13,222.253,217.672,222.253,217.672z')
        path.svg-stroke#project-main17(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M233.297,259.15l39.806-0.287\
        c0,0,4.37-0.124,4.37,5.296c0,5.421-4.395,5.274-4.395,5.274l-39.116,0.229c0,0-4.399-1.191-4.399-5.623\
        C229.562,259.609,233.297,259.15,233.297,259.15z')
        path.svg-stroke#project-main18(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M135.223,258.872l48.51-0.287\
        c0,0,4.37-0.124,4.37,5.296c0,5.421-4.394,5.275-4.394,5.275l-47.821,0.229c0,0-4.4-1.193-4.4-5.624\
        S135.223,258.872,135.223,258.872z')
        path.svg-stroke#project-main19(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M161.089,237.974l75.437-0.288\
        c0,0,4.371-0.124,4.371,5.296c0,5.422-4.396,5.275-4.396,5.275l-74.748,0.229c0,0-4.399-1.192-4.399-5.624\
        C157.355,238.431,161.089,237.974,161.089,237.974z')
        path.svg-stroke#project-main20(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M135.084,217.672l69.863-0.287\
        c0,0,4.371-0.125,4.371,5.295c0,5.421-4.395,5.275-4.395,5.275l-69.174,0.229c0,0-4.4-1.192-4.4-5.624\
        C131.35,218.13,135.084,217.672,135.084,217.672z')
        path.svg-stroke#project-main21(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M233.268,196.417l81.045-0.287\
        c0,0,4.371-0.125,4.371,5.295c0,5.421-4.396,5.275-4.396,5.275l-80.355,0.229c0,0-4.399-1.192-4.399-5.624\
        C229.533,196.875,233.268,196.417,233.268,196.417z')
        path.svg-stroke#project-main23(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M161.061,176.036l74.822-0.287\
        c0,0,4.37-0.125,4.37,5.295c0,5.421-4.396,5.275-4.396,5.275l-74.132,0.228c0,0-4.399-1.192-4.399-5.624\
        C157.326,176.494,161.061,176.036,161.061,176.036z')
        path.svg-stroke#project-main24(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M135.438,155.368l69.35-0.287\
        c0,0,4.371-0.124,4.371,5.296c0,5.422-4.396,5.275-4.396,5.275l-68.66,0.228c0,0-4.399-1.192-4.399-5.624\
        C131.704,155.827,135.438,155.368,135.438,155.368z')
        path.svg-stroke#project-main25(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M233.284,134.678l74.821-0.287\
        c0,0,4.371-0.125,4.371,5.295c0,5.421-4.396,5.276-4.396,5.276l-74.131,0.228c0,0-4.4-1.192-4.4-5.624\
        C229.549,135.136,233.284,134.678,233.284,134.678z')
        path.svg-stroke#project-main26(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M254.377,113.635l80.628-0.287\
        c0,0,4.371-0.125,4.371,5.295c0,5.421-4.396,5.276-4.396,5.276l-79.938,0.228c0,0-4.4-1.192-4.4-5.624\
        C250.642,114.093,254.377,113.635,254.377,113.635z')
        path.svg-stroke#project-main27(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M161.191,113.705l74.821-0.288\
        c0,0,4.371-0.124,4.371,5.295c0,5.421-4.396,5.276-4.396,5.276l-74.132,0.229c0,0-4.4-1.192-4.4-5.624\
        C157.457,114.163,161.191,113.705,161.191,113.705z')
        path.svg-stroke#project-main28(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M134.865,93.097l70.57-0.287\
        c0,0,4.371-0.124,4.371,5.295c0,5.421-4.396,5.275-4.396,5.275l-69.88,0.229c0,0-4.399-1.192-4.399-5.624\
        C131.131,93.555,134.865,93.097,134.865,93.097z')
        path.svg-stroke#project-main29(fill='none', stroke='#FFFFFF', stroke-width='2', stroke-miterlimit='10', d='M161.061,176.036l74.822-0.287\
        c0,0,4.37-0.125,4.37,5.295c0,5.421-4.396,5.275-4.396,5.275l-74.132,0.228c0,0-4.399-1.192-4.399-5.624\
        C157.326,176.494,161.061,176.036,161.061,176.036z')
      
    .col-md-7
      h1 Projects
      p.lead A list of all the major projects I've worked on as a developer
    
.container
  .row 
    .col-md-12
      h1.page-header.text-center iOS Projects
      
div#projects-container(ng-repeat="project in projects")
  div.project-header(style="background-color: {{project.backgroundColor}}")
    .container
      .row
        .col-md-12
          h1 {{project.title}}
          //- have image as well
          // - maybe also have a little screenshot section?
  .container
    .row
      .col-sm-6(ng-repeat="highlight in project.highlights")
        p.lead {{highlight.title}}
        p {{highlight.description}}
      
.container
  .row 
    .col-lg-12
      h1.page-header.text-center Web Projects

div(ng-include='"components/footer/footer.html"')
