// Variables
projectsColor = #674172
bannerHeight = 450px

.projects-hero-unit
    background projectsColor
    color #F5F5F5
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

#project-title
    margin-top 115px

#projects-container

#projects-container h1
    color white

#projects-container p
    color black

.project-header
    height 300px

.project-highlights
    margin-top 30px
    margin-bottom 30px

.title-image
  margin 0
  position absolute
  top 50%
  left 50%
  margin-right -50%
  transform translate(-50%, 20%)
