// Variables
projectsColor = #674172
bannerHeight = 450px

.projects-hero-unit
    background projectsColor
    color #F5F5F5
    position relative
    text-align center
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

#projects-container

#projects-container h1
    color white

#projects-container p
    color black

.project-header
    height 240px
