// Variables
projectsColor = #049372
bannerHeight = 450px
clear = rgba(255, 255, 255, 0)

.projects-hero-unit
    background projectsColor
    color #F5F5F5
    position relative
    text-align center
    // text-align right
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)
