// Variables
contactColor = #96281B
bannerHeight = 450px
clear = rgba(255, 255, 255, 0)

.contact-hero-unit
    background contactColor
    color #F5F5F5
    position relative
    text-align center
    // text-align right
    text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)
