div(ng-include='"components/navbar/navbar.html"')

header.banner.contact-hero-unit
  .container
    h1#contact-title Contact
    //- Maybe Contact
    p.lead Under Construction
    //- p.lead Need some help with a project? Or just want to talk?

div(ng-include='"components/footer/footer.html"')
